body{
    background-color: bisque; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center; 
    font-variant: small-caps;
    color: black;
}
h4{
    text-align: center; 
    color: lightgreen;
    font-style: italic;
}

 